/* стили страницы "Аккаунт" */

.account {
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    gap: var(--g);
}

.account h1 {
    margin-top: 9rem;
    color: var(--col-white);
    text-align: center;
}


.show-password-icon {
    display: block;
    position: relative;
    top: -35%;
    left: 90%;
    cursor: pointer;
    user-select: none;
    z-index: 1000;
}

.show-password-icon2 {
    display: block;
    position: relative;
    top: -37.5px;
    left: 85%;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

#eye-show,
#eye-show2 {
    display: block;
    width: 25px;
    height: 25px;
}

#eye-hide,
#eye-hide2 {
    display: none;
}


/* Стили для всплывающего окна (оверлея) */
.popup-overlay {
    /* transition: all 1s ease-in-out; */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Чтобы всплывающее окно было поверх всего */
}

/* Стили для самой формы внутри всплывающего окна */
.popup-form {
    /* transition: all 1s ease-in-out; */
    background-color: var(--col-gray);
    /* padding: 1rem; */
    border-radius: var(--brd);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 50vw;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--g);
}
        
.line6 {
    width: 100%;
    /* position: relative; */
    padding: 0;
    margin: 0;
    border-top: var(--brd2) solid var(--col-black);
}

.popup-form h2 {
    font-weight: 800;
    font-size: var(--fz-subtitle);
    text-align: center;
    margin-top: 1rem;
    /* margin-bottom: var(--m); */
    padding-top: .25rem;
    color: var(--col-black);
}
/* Стили для кнопки закрытия "X" */
.close-btn {
    transition: all .3s;
    position: absolute;
    top: 15px;
    right: 30px;
    margin-right: .25rem;
    font-size: var(--fz-price);
    cursor: pointer;
    font-weight: 800;
    color: var(--col-black);
}

.close-btn:hover {
    transition: all .3s;
    color: var(--col-yellow);
}

.popup-form__inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    padding: var(--p);
    margin: 0;
    height: 100% !important;
    width: 100%;
    height: auto;
}

.popup-form__inputs-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}


.popup-form__inputs-item input,
.popup-form__inputs-item textarea {
   transition: all .3s; 
   width: 100%;
   min-height: 1rem;
   height: auto;
   font-size: var(--fz-description);
   padding: 0.5rem;
   border-radius: 0.25em;
   font-family: "Montserrat", sans-serif;
   cursor: default;
   border: inset solid 4px var(--col-dark-yellow); 
}

.popup-form__inputs-item input:hover {
   transition: all .3s; 
   background: var(--col-light-yellow);

}

.popup-form__inputs-item input:focus {
   transition: all .3s;
   background: var(--col-light-yellow);
   font-size: var(--fz-subtitle);
   cursor: pointer; 
}

.popup-form__inputs-item label {
    font-weight: 600;
    color: var(--col-black);
    margin-bottom: .5rem;
    font-size: var(--fz-description);
}


.changeinput {
    transition: all .3s !important; 
    width: 100%;
    min-width: 100px;
    min-height: 2rem;
    height: auto;
    font-size: var(--fz-subtitle);
    font-weight: 800;
    padding: 0.5rem;
    border-radius: 0.25em;
    background: var(--col-yellow);
    font-family: "Montserrat", sans-serif;
    cursor: default;
    border: solid 4px var(--col-yellow); 
    /* margin-top: var(--m); */
}

.changeinput:hover {
    transition: all .3s !important;
    background: none;
    color: var(--col-black);
    border: solid 4px var(--col-black); 
}

.changeinput:active {
    transition: all .3s !important;
    background: none;
    color: var(--col-black);
    background: var(--col-black);
    border: solid 4px var(--col-black); 
}

.star {
    margin: 0 .75rem 0 .25rem;
} 

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: var(--g);
    padding: var(--p);
    min-height: 600px;
    height: auto;
}

.line {
    display: none;
}

.line-vertical {
    display: block;
}


.stats__item {
    width: 45%;
    padding: var(--p);
}

.stats__item:first-child {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    /* gap: var(--g); */
}

.stats__item-avatar-n-levels {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    /* gap: var(--g); */
}

.stats__item-avatar {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 45%;
    /* gap: var(--g); */
    padding: var(--p);

}

.stats .line-vertical {
    height: 80vh;
}

.stats__item-avatar img {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    border: 5px dashed var(--col-light-yellow);
}

.stats__item-avatar a {
    font-size: var(--fz-description);
    font-weight: 800;
    text-decoration: underline;
}


.stats__item-avatar a:hover {
    transition: all .3s;
    cursor: pointer;
    color: var(--col-light-yellow);
    /* text-decoration: dashed; */
}

.stats__item-avatar a:active {
    transition: all .3s;
    /* text-decoration: dashed; */
    color: var(--col-dark-yellow);
    /* cursor: url("../media/icons/cursors/cursor_diamond_active.png"), default; */
}


.stats__item-levels {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    /* gap: var(--g); */
    padding: var(--p);

}

.stats__item-level:first-child {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-right: 3rem;
    z-index: 0;
    /* padding: var(--p); */
}

.stats__item-level:first-child img {
    position: absolute;
    z-index: 0;
    padding-bottom: .25rem;
}

.stats__item-level:first-child h1 {
    font-size: var(--fz-price);
    color: var(--col-yellow);
    margin: 0;
    padding: 0;   
}

.stats__item-level:last-child {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stats__item-level:last-child p {
    color: var(--col-dark-yellow);
    font-weight: 600;
}

.stats__item-counts {
    text-align: end;
    font-size: var(--fz-subtitle);
}


.stats__item-counts li {
    line-height: 2;
}

.stats__item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 45%;
    gap: var(--g);
    padding: var(--p);
}

.stats__item-total {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .5rem;
}

.stats__item-total input:hover,
.stats__item-total textarea:hover {
   transition: all .3s; 
   background: var(--col-light-yellow);

}


.stats__item-total input,
.stats__item-total textarea {
    transition: all .3s; 
    user-select: none;
    width: 100%;
    min-height: 1rem;
    height: auto;
    font-size: var(--fz-description);
    padding: 0.5rem;
    border-radius: 0.25em;
    color: var(--col-black);
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    cursor: default;
    border: inset solid 4px var(--col-dark-yellow); 
    
}


.editinput {
    transition: all .3s; 
    width: 30%;
    min-height: 2rem;
    height: auto;
    font-size: var(--fz-subtitle);
    font-weight: 800;
    padding: 0.5rem;
    border-radius: 0.25em;
    background: var(--col-yellow);
    font-family: "Montserrat", sans-serif;
    cursor: default;
    border: solid 4px var(--col-yellow); 
    margin-top: var(--m);
}

.editinput:hover {
    transition: all 3.s;
    background: none;
    color: var(--col-white);
    border: solid 4px var(--col-white); 
}

.editinput:active {
    transition: all 3.s;
    background: none;
    color: var(--col-black);
    background: var(--col-white);
    border: solid 4px var(--col-white); 
}



.stats__item-total textarea {
    width: 100%;
}

.stats__item-total label {
    color: var(--col-white);
    font-size: var(--fz-description);
    font-weight: 600;
}

.stats__item-total input::placeholder,
.stats__item-total textarea::placeholder {
    user-select: none;
    color: var(--col-black);
    font-weight: 600;
}

.stats__item-total:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}


.medals {
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
    gap: var(--g);
}

.medals h1 {
    margin: 0;
    margin-bottom: 1rem;
}

.medals__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--g);
    width: 100%;
}

.medals__inner-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    height: auto;
    gap: .3rem;
    padding: var(--p);
    width: 14%;
    /* border-radius: 2rem; */
    /* background: var(--col-gray); */
    background: linear-gradient(var(--col-dark-gray) 0%, var(--col-black) 80%);
    /* border-radius: 1rem; */
    border-top: dashed 1.1rem var(--col-gray);
    

}


.medals__inner-item img {
    width: 100%;
    height: 100%;
}


.medals__inner-item-image {
    width: 70%;
}

.medals__inner-item h2 {
    font-size: var(--fz-subtitle);
    font-weight: 800;
    text-align: center;
}

.medals__inner-item p {
    font-size: var(--fz-title);
    color: var(--col-white);
    font-weight: 800;
    text-align: center;
    margin-top: .5rem;
}


.sendorder {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--g);
    padding: var(--p);
    min-height: 300px;
    height: auto;
}

.sendorder h1 {
    margin: 0;
}

.form-order {
    /* transition: all 1s ease-in-out; */
    background-color: var(--col-dark-gray);
    /* padding: 1rem; */
    border-radius: var(--brd);
    width: 40%;
    min-height: 200px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--g);
    padding: var(--p);
    border: var(--brd) dashed var(--col-white);
}

.form-order__inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: var(--g);
    width: 100%;
}

.form-order__inputs-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .5rem;
    width: 100%;
}

.form-order__inputs-item label {
    font-weight: 600;
    font-size: var(--fz-description);
}

.sendinput {
    transition: all .3s; 
    width: 100%;
    min-width: 100px;
    min-height: 2rem;
    height: auto;
    font-size: var(--fz-subtitle);
    font-weight: 800;
    padding: 0.5rem;
    border-radius: 0.25em;
    background: var(--col-yellow);
    font-family: "Montserrat", sans-serif;
    cursor: default;
    border: solid 4px var(--col-yellow); 
    margin-top: var(--m);
}

.sendinput:hover {
    transition: all .3s;
    background: none;
    color: var(--col-white);
    border: solid 4px var(--col-white); 
}

.sendinput:active {
    transition: all .3s;
    background: var(--col-white);
    color: var(--col-black);
    border: solid 4px var(--col-white); 
}

input,
select {
   transition: all .3s; 
   min-width: 100px;
   width: 100%;
   min-height: 1rem;
   height: auto;
   font-size: var(--fz-description);
   font-weight: 600;
   padding: 0.5rem;
   border-radius: 0.25em;
   font-family: "Montserrat", sans-serif;
   cursor: default;
   border: inset solid 4px var(--col-dark-yellow); 
}

label {
    font-size: var(--fz-subtitle);
}


.myorders h1 {
    margin: 0;
}

.myorders__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--g);
    padding: var(--p);
    width: 100%;
}

.myorders {
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    gap: var(--g);
}



.myorders__inner-table {
    border: 10px dashed var(--col-white);
}

.myorders__inner-table thead {
    border-bottom: 7px solid var(--col-white);
}

.myorders__inner-table tr {
    border-bottom: 5px dashed var(--col-white);
}


th:nth-child(1),
td:nth-child(1) {
    width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 30%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 35%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 10%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 20%;
}


    
@media (max-width: 1300px) {
    .editinput {
        width: 40%;
        min-height: 2rem;
        font-size: var(--fz-subtitle);
    }
}    

@media (max-width: 1100px) {
    .stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .line {
        display: block;
    }

    .line-vertical {
        display: none;
    }
    .stats__item:first-child,
    .stats__item:last-child {
        width: 100%;
    }
    .stats__item:first-child {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* gap: var(--g); */
    }

    .stats__item-avatar-n-levels {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        /* gap: var(--g); */
    }

    .stats__item-levels {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: var(--g); */
        padding: var(--p);

    }

    .stats__item-level:first-child {
        display: flex;
        width: 100%;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        /* margin-right: 3rem; */
        z-index: 0;
        /* padding: var(--p); */
    }

    .stats__item-level:first-child img {
        position: absolute;
        margin-left: 3rem;
        z-index: 0;
    }

    .stats__item-level:first-child h1 {
        font-size: var(--fz-price);
        margin-left: 3rem;
        padding: 0;   
    }

    .stats__item:last-child {
        width: 100%;
    }

    .stats__item-total {
        flex-wrap: wrap;
    }
    .medals__inner-item {
        min-height: 200px;
        height: auto;
        width: 18%; 
        border-top: var(--brd2) dashed var(--col-white);
    }
    .medals__inner-item-texts h2 {
        font-size: var(--fz-description);
    }
    .medals__inner-item-texts p {
        font-size: var(--fz-subtitle);
    }
    .medals__inner-item-image {
        margin-top: .5rem;
        width: 80%;
    }  
}


@media (max-width: 1000px) {
    .popup-form {
        width: 75vw;
        height: 80vh;
    }
    .myorders__inner-table {
        border: 6px dashed var(--col-white);
    }

    .myorders__inner-table thead {
        border-bottom: 4px solid var(--col-white);
    }

    .myorders__inner-table tr {
        border-bottom: 3px dashed var(--col-white);
    }

    .myorders__inner-table th,
    .myorders__inner-table td {
        flex-wrap: wrap;
        /* word-break: break-all; */
        text-align: justify;
        padding: var(--p);
        font-size: var(--fz-h3);
    }
    .editinput {
        width: 60%;
        font-size: var(--fz-subtitle);
    }
    .form-order {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        min-height: 150px;
        margin-top: 1rem;
        height: auto;
        border: var(--brd2) dashed var(--col-white);
    }
    .form-order__inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .sendinput {
        font-size: var(--fz-description);
    }
    .form-order__inputs-item label {
        font-size: var(--fz-description);
    }
}

@media (max-width: 650px) {
    .editinput {
        width: 60%;
        font-size: var(--fz-description);
    }
    .medals {
        min-height: 300px;
        height: auto;
    }
    .medals__inner {
        width: 100%;
    }
    .medals__inner-item {
        min-height: 100px;
        height: auto;
        width: 29%; 
        padding: .5rem;
        border-top: var(--brd2) dashed var(--col-white);
    }
    .medals__inner-item-image {
        margin-top: .5rem;
        width: 60%;
    }
    .account h1 {
        font-size: var(--fz-subtitle);
    }
    .star {
        margin: 0 .5rem 0 .25rem;
    } 
    .stats__item-counts {
        font-size: var(--fz-description);
    }
    .popup-form {
        width: 80vw;
        height: 80vh;
    }
    .popup-form__title h2 {
        font-size: var(--fz-description);
    }
    .close-btn {
        right: 20px;
        top: 5px;
    }
}


@media (max-width: 550px) {
    .editinput { 
        width: 60%;
        min-height: .5rem;
        font-size: var(--fz-h4);
    }
    .myorders {
        min-height: 200px;
    }
    .myorders__inner-table {
        border: 3px dashed var(--col-white);
    }

    .myorders__inner-table thead {
        border-bottom: 2.5px solid var(--col-white);
    }

    .myorders__inner-table tr {
        border-bottom: 2px dashed var(--col-white);
    }

    .myorders__inner-table th,
    .myorders__inner-table td {
        flex-wrap: wrap;
        word-break: break-all;
        text-align: justify;
        margin: 0;
        padding: .25rem;
        font-size: var(--fz-h5);
    }
    .stats__item-total input,
    #pass {
        width: 100%;
    }
    .stats__item-total label {
        width: 100%;
    }

}
@media (max-width: 450px) {
    .popup-form {
        width: 90vw;
        height: 80vh;
    }
    .medals {
        min-height: 300px;
        height: auto;
    }
    .medals__inner-item {
        min-height: 100px;
        height: auto;
        width: 25%;
        padding: .35rem; 
    }
    .medals__inner-item-texts h2 {
        font-size: var(--fz-h4);
    }
    .medals__inner-item-texts p {
        font-size: var(--fz-description);
    }
    .account h1 {
        font-size: var(--fz-description);
    }
    .star {
        width: 20px;
        height: 20px;
        margin: 0 .5rem 0 .25rem;
    } 
    .stats__item-counts {
        font-size: var(--fz-h4);
    }
    .stats__item-level:first-child img {
        position: absolute;
        margin-left: 3rem;
        width: 55%;
        z-index: 0;
    }

    .stats__item-level:first-child h1 {
        font-size: var(--fz-title);
        margin-left: 3rem;
        padding: 0;  
    }
    .stats__item-level:last-child h2 {
        margin-top: .5rem;
        font-size: var(--fz-subtitle);
    }
    
    .stats__item-level:last-child p {
        text-align: center;
        /* width: 100%; */
        font-size: var(--fz-h3);
    }

    .stats__item-total label {
        font-size: var(--fz-description);
        font-weight: 600;
        width: 100%;
    }

    .stats__item-total ::placeholder {
        color: var(--col-yellow);
        font-size: var(--fz-h3);
        font-weight: 600;
    }
    .stats__item-total input,
    #pass {
        width: 100%;
    }
    .stats__item-total:nth-child(2) label {
        width: 100%;
    }
    .form-order {
        width: 95%;
    }
    .form-order__inputs-item label {
        font-size: var(--fz-h4) !important;
    }
    .form-order__inputs-item select,
    .form-order__inputs-item option {
        font-size: var(--fz-h4) !important;
    }
    .sendinput {
        font-size: var(--fz-h3) !important;
    }
}