
/* стили страницы "Главная" */

.main {
    padding: var(--p);
    padding-top: 200px;
    height: auto;
    min-height: 1500px;
    width: 100%;
    background-color: var(--col-black);
}

.index {
    min-height: 800px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--g);
    flex-direction: row;
}

.index ul h1 {
    color: var(--col-purple);
}
.index ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--g);
    border: var(--brd) dashed var(--col-white);
    padding: var(--p);
}

.index li {
    font-size: var(--fz-description);
    font-weight: 800;
    text-decoration: underline;
}

/* section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


.line {
    color: var(--col-white);
}

.appdesc {
    /* padding: var(--p); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: var(--g);
}

.appdesc__item {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: var(--g);
}

.appdesc__item:first-child {
    gap: var(--g);    
    width: 50%;
}

.appdesc__item:last-child {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
}


.appdesc__item-image:first-child {
    /* border-radius: 10rem; */
    rotate: -45deg;
    width: 30%;
    border: var(--brd) dashed var(--col-white);
    border-radius: var(--brd);
    height: 20%;
}

.appdesc__item-image:last-child {
    /* border-radius: 1rem; */
    rotate: 30deg;
    border: var(--brd) dashed var(--col-white);
    border-radius: var(--brd);
    width: 50%;
}



.whyarewe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.whyarewe__cards {
    margin-top: var(--m);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--g);
}


.whyarewe__cards-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: var(--g);
    text-align: center;
    min-height: 350px;
    height: auto;
    width: 24%;
    /* background: black; */
}

.whyarewe__cards-item img {
    /* max-height: 40%; */
    width: 40%;
}

.whyarewe__cards-item h2 {
    /* max-height: 40%; */
    text-align: center;
}

.whyarewe__cards-item p {
    /* max-height: 10%; */
    text-align: center;
}



.forwho {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    height: auto;
    min-height: 500px;
    gap: var(--g);
}

.forwho__item:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--g);
}

.forwho__item:first-child ul {
    margin-left: 2rem;
}
.forwho__item:first-child li {
    line-height: 2;
    text-wrap: wrap;
    list-style: circle;
}

.forwho__item:last-child {
    width: 50%;
    border: var(--brd) dashed var(--col-white);
    border-radius: var(--brd);
}








.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    min-height: 600px;
    gap: var(--g);
}

.feedback__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper {
    /* margin: 100px auto;  */
    width: 40vw;
    min-height: 400px;
    height: auto;
}


.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 800;
    color: var(--col-white);
}

/* .slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
} */

.feedback__inner-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--g);
    padding: var(--p);
    width: 100%;
    min-height: 400px;
    height: auto;
    /* max-height: 700px; */
    border-bottom-left-radius: var(--brd);
    border-bottom-right-radius: var(--brd);
    border-top: var(--brd) solid var(--col-yellow);
    background-color: var(--col-dark-gray);
    transition: transform 0.25s ease-in-out;
}

.feedback__inner-item-image {
    position: relative;
    width: 35%;
    border-radius: 50%;
    border: var(--brd2) dashed var(--col-yellow);
    object-fit: cover;
}
/* 
.feedback__inner-item-image::after {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../media/icons/content/star.svg");
} */

.feedback__inner-item-texts {
    gap: var(--g);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.feedback__inner-item-texts h1 {
    font-size: var(--fz-subtitle);
    font-weight: 800;
    text-align: center;
    padding: 0;
}

.feedback__inner-item-texts h2 {
    font-size: var(--fz-description);
    font-weight: 600;
    text-align: center;
    padding: 0;
}

.feedback__inner-item-texts p {
    font-size: var(--fz-h3);
    font-weight: 600;
    text-align: center;
    padding: 0;
}



.authorizarion-button,
.registration-button {
    transition: all .3s;
    background: var(--col-yellow);
    border-radius: var(--brd2);
    border: dashed 0.5rem var(--col-black);
    width: 25%;
    color: var(--col-black);
    font-weight: 800;
    /* min-height: 20px; */
    /* height: 20px */
    text-align: center;
    padding: var(--p);
    font-size: var(--fz-subtitle);
}

.registration-button:hover,
.authorizarion-button:hover {
    transition: all .3s;
    border: dashed 0.5rem var(--col-black);
    background: var(--col-dark-yellow);
}

.registration-button:active,
.authorizarion-button:active {
    transition: all .3s;
    border: dashed 0.5rem var(--col-black);
    background: var(--col-black);
}

.authorization-link,
.registration-link {
    transition: all .3s;
    font-weight: 800;
    text-decoration: underline;
}

.authorization-link:hover,
.registration-link:hover {
    transition: all .3s;
    color: var(--col-light-yellow);
}

.authorization-link:active,
.registration-link:active {
    transition: all .3s;
    color: var(--col-dark-yellow);
}






.worksofstudents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
    text-align: center;
    min-height: 300px;
    gap: var(--g);
}

.worksofstudents h1 {
    width: 100%;
    text-align: center;
    font-size: var(--fz-title);
}

.worksofstudents__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


        .slider-container {
            position: relative;
            width: 60%;
            border-radius: var(--brd);
            border: var(--brd) dashed var(--col-white);
            /* border-top: var(--brd2) dashed var(--col-white);
            border-bottom: var(--brd2) dashed var(--col-white); */
            overflow: hidden;
            background: var(--col-dark-gray);

        }

        .slides {
            display: flex;
            gap: var(--g);
            padding: var(--p);
            justify-content: space-around;
            transition: transform 0.25s ease-in-out;

        }

        .slides img {
            min-width: 50%;
            object-fit: fill;
            border-bottom-left-radius: var(--brd);
            border-bottom-right-radius: var(--brd);
            border-top: var(--brd2) solid var(--col-white);
        }

        .modal {
            display: none; /* Начальное состояние: скрыто */
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);
            visibility: hidden; /* Не видим пока */
            opacity: 0; /* Прозрачный */
            transition: visibility 0s linear 0.3s, opacity 0.3s cubic-bezier(.2,.8,.2,1); /* Задержка перед изменением visibility */
        }

        /* .modal.show-modal {
            display: block;
            visibility: visible; 
            opacity: 1;
        } */

        /* #fullscreen-image {
            margin: auto;
            
            max-height: 95%;
            max-width: 95%;
            /* display: block;
            position: absolute;
            z-index: 1000;
            transform: scale(0);
            transition: all 4.3s ease-in-out; 
        } */

        /* .modal.show-modal #fullscreen-image {
            transition: all 6s ease-in-out;
            /* position: absolute;
            transform: scale(1);
        } */
        
        
#prevBtn,
#nextBtn {
    /* display: none; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    color: var(--col-black);
    font-size: var(--fz-price);
    font-weight: 800;
    user-select: none;
    opacity: 1;
    width: 50px;
    border-radius: 10%;
    background: var(--col-yellow);
    border: 4px solid var(--col-yellow);
    transition: all .3s ease;
}
#prevBtn { left: 15px; }

#nextBtn { right: 15px; }

#prevBtn:hover,
#nextBtn:hover {
    transition: all .3 ease;
    background: none;
    color: var(--col-white);
    border: 4px solid var(--col-white);
}

#prevBtn:active,
#nextBtn:active {
    transition: all .3 ease;
    background: none;
    background: var(--col-white);
    color: var(--col-black);
    border: 4px solid var(--col-white);
}





.startnow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    text-align: center;
    min-height: 500px;
    gap: var(--g);
}

.startnow p {
    font-weight: 500;
    font-size: var(--fz-subtitle);
}

.startnow h1 {
    text-align: center;
}

@media (max-width: 1300px) {
    .whyarewe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .whyarewe__cards {
        margin-top: var(--m);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--g);
    }


    .whyarewe__cards-item {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: start;
        gap: var(--g);
        text-align: center;
        min-height: 400px;
        width: 24%;
    }

    .whyarewe__cards-item h2 {
        font-size: var(--fz-description);
        text-align: center;
    }

    .whyarewe__cards-item p {
        font-size: var(--fz-h3);
        text-align: center;
    }

    .registration-button {
        width: 40%;
    }

}

@media (max-width: 900px) {
    .appdesc {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .appdesc__item:first-child,
    .appdesc__item:last-child {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .appdesc__item:last-child {
        width: 80%;
        z-index: -1;
        margin-bottom: 5rem;
    }
    .appdesc__item:last-child .appdesc__item-image:first-child,
    .appdesc__item:last-child .appdesc__item-image:last-child {
        border: var(--brd2) dashed var(--col-white);
        border-radius: var(--brd2);
    }
    .whyarewe {
        width: 100%;
        padding: var(--p);
    }

    .whyarewe__cards {
        margin-top: var(--m);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--g);
        width: 100%;
    }


    .whyarewe__cards-item {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: start;
        gap: var(--g);
        text-align: center;
        min-height: 400px;
        width: 100%;
    }
    .whyarewe__cards-item img {
        width: 35%;
    }
    .whyarewe__cards-item p,
    .whyarewe__cards-item h2 {
        width: 80%;
    }
    .whyarewe__cards-item h2 {
        font-size: var(--fz-title);
        text-align: center;
    }

    .whyarewe__cards-item p {
        font-size: var(--fz-subtitle);
        text-align: center;
    }


    .forwho {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        
    }
    .forwho__item:last-child {
        width: 100%;
    }

    .forwho__item:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .forwho__item:first-child h2,
    .forwho__item:first-child h1 {
        text-align: center;
    }
    .registration-button {
        width: 70%;
    }
    .worksofstudents__inner {
        width: 95%;
        padding: var(--p);
    }
    .slider-container {
        position: relative;
        width: 100%;
        border-radius: 5%;
        /* border-top: var(--brd2) dashed var(--col-white);
        border-bottom: var(--brd2) dashed var(--col-white); */
        border-radius: var(--brd);
        border: var(--brd) dashed var(--col-white);
        overflow: hidden;
        background: var(--col-dark-gray);
    }
    .swiper {
        /* margin: 100px auto;  */
        width: 75vw;
        min-height: 200px;
        height: auto;
    }
}







@media (max-width: 500px) {
    .feedback h1 {
        font-size: var(--fz-subtitle);
        text-align: center;
    }
    .feedback__inner h3 {
        font-size: var(--fz-h4);
    }
    .appdesc__item:first-child h1 {
        font-size: var(--fz-subtitle);
        text-align: center;
    }
    .appdesc__item:first-child h2 {
        font-size: var(--fz-description);
        text-align: center;

    }
    .appdesc__item:first-child p {
        font-size: var(--fz-h4);
        text-align: center;
    }
    .appdesc__item:last-child img:last-child {
        display: none;
    }
    .appdesc__item:last-child {
        width: 100%;
        margin-bottom: 2rem;
    }
    .appdesc__item:last-child img:first-child {
        width: 90%;
        rotate: 0deg;
    }
    .whyarewe__cards {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 2rem;
    }
    .whyarewe__cards-item {
        min-height: 100px;
        height: auto;
    }
    .whyarewe__cards-item h2 {
        font-size: var(--fz-subtitle);
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .whyarewe__cards-item p {
        font-size: var(--fz-description);
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .whyarewe h1 {
        font-size: var(--fz-subtitle);
        text-align: center;
    }
    .forwho__item:first-child h2 {
        font-size: var(--fz-description);
    }
    .forwho__item:first-child h1 {
        font-size: var(--fz-subtitle);
    }
    .startnow {
        height: auto;   
        min-height: 400px;
    }
    .startnow h1 {
        font-size: var(--fz-subtitle);
    }
    .registration-button {
        font-size: var(--fz-description);
        width: 70%;
    }
    .startnow p,
    .registration-link {
        font-size: var(--fz-description);
    }
    .worksofstudents__inner {
        width: 95%;
        padding: var(--p);
    }
    .worksofstudents h1 {
        font-size: var(--fz-subtitle);
        margin-bottom: var(--m);
    }
    .slider-container {
        position: relative;
        width: 100%;
        border-radius: 2%;
        /* border-top: var(--brd2) dashed var(--col-white);
        border-bottom: var(--brd2) dashed var(--col-white); */
        border: var(--brd2) dotted var(--col-white);
        overflow: hidden;
        background: var(--col-dark-gray);
    }
    #prevBtn,
    #nextBtn {
        width: 20px;
        font-size: var(--fz-description);
        border-radius: 10%;
        background: var(--col-yellow);
        border: 4px solid var(--col-yellow);
        transition: all .3s ease;
    }
    #prevBtn {
        left: 10px;
    }
    #nextBtn {
        right: 10px;
    }
    

}